@import '$lib/_common/_reset.scss';
@import '$lib/_common/_fonts.scss';
@import '$lib/_common/_typography.scss';

:root {
	// Fonts variables
	--text-color: #fff;

	--bg: #000;
	--menu-bg: #000;

	--menuZindex: 99999;
	--canvasZindex: -1;
}

body {
	background-color: var(--bg);
}
